@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
* {
  font-family: 'Caveat', cursive;
  padding: 0px;
}

:root {
  /* --clr-secondary: hsla(182, 63%, 54%); */
  --clr-grey-1: rgb(40, 39, 43);
  --transition: all 0.3s linear;
  --radius: 0.5rem;
  --clr-white: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 100px;
}

.title-links {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  position: sticky;
  top: 0;
  background: var(--clr-white);
}

.title-links li {
  list-style: none;
  padding: 0 30px;
}

.title-links li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.title-links .title {
  cursor: pointer;
  font-size: 35px;
  width: 60%;
  font-weight: 900;
}

.title-links .title a {
  text-decoration: none;
  color: black;
}

.title-links .title a:hover {
  text-decoration: underline;
  color: grey;
}

.title-links .links {
  width: 40%;
  display: flex;
}

.title-links .links a:hover {
  text-decoration: underline;
  color: grey;
}

.main-section {
  display: flex;
  flex-direction: row;
  height: 95vh;
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 30px;
}

.intro-title {
  font-size: 80px;
  font-weight: 900;
  margin-top: 50px;
}

.about,
.location {
  opacity: 0.6;
}

.underline {
  width: 12rem;
  height: 0.25rem;
  background: black;
  margin-right: auto;
}

.portfolio-link a {
  text-decoration: none;
  color: black;
}

.right-section {
  display: flex;
  width: 60%;
}

.profile-photo {
  width: 60vw;
  height: 95vh;
}

#portfolio {
  margin-top: 12%;
}

.liner {
  display: flex;
  flex-direction: row;
}

.underline-per {
  margin-top: 10px;
  width: 5%;
  height: 0.05rem;
  background: black;
  margin-right: auto;
}

.line {
  width: 94%;
  text-transform: uppercase;
  font-size: 20px;
}

.portfolio-section {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  margin-bottom: 15%;
}

.left {
  flex-direction: row-reverse;
}

.paras {
  width: 40%;
  text-align: justify;
}

.section-tag {
  font-size: 45px;
  font-weight: 900;
}

.section-sub-tag {
  font-size: 25px;
  opacity: 0.6;
}

.p-01 {
  margin-left: 70px;
  border-radius: 15px;
  height: 40vh;
  animation-delay: 0.25s !important;
  transition: all 0.65s;
}

.p-02 {
  width: 40vw;
  margin-right: 70px;
  border-radius: 15px;
  height: 40vh;
  animation-delay: 0.25s !important;
  transition: all 0.65s;
}

.p-03 {
  margin-left: 70px;
  border-radius: 15px;
  height: 40vh;
  animation-delay: 0.25s !important;
  transition: all 0.65s;
  width: 40vw;
}

.p-04 {
  width: 40vw;
  margin-right: 70px;
  border-radius: 15px;
  height: 40vh;
  animation-delay: 0.25s !important;
  transition: all 0.65s;
}

.p-01:hover,
.p-02:hover,
.p-03:hover,
.p-04:hover {
  transform: scale(1.05);
}

.about-me {
  margin-top: 5%;
}

.about-intro {
  font-size: 60px;
  font-weight: 900;
}

.about-me .about {
  font-size: 30px;
  text-align: justify;
  width: 51vw;
}

/* .about-me .about-sub-intro {
  font-size: 30px;
  font-weight: 700;
}

.about-me .about-sub-intro-2 {
  margin-top: 15px;
  opacity: 0.6;
  font-size: 30px;
} */

.about-me .about a {
  text-decoration: underline;
  color: blue;
  font-weight: 900;
}

#contact {
  margin-top: 10%;
}

.email {
  margin-top: 10%;
  font-size: 60px;
  font-weight: 900;
}

.contact-line {
  font-size: 30px;
  width: 51vw;
}

.contact-details a {
  text-decoration: none;
  color: black;
}
.contact-details a i {
  padding: 5px;
  font-size: 50px;
}

.footer {
  margin-top: 10%;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 25px;
}

.footer a {
  text-decoration: none;
  color: black;
  padding-left: 3px;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-grey-1);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}

.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
